header {
    position: relative;
    display: block;
    width: 980px;
    height:100%;
    font-family: 'Georgia';
    margin: 0 auto;
    background-color: #ffffff ;
    border: 1px solid #cccccc;
    overflow: hidden;
    padding:0px 10px 0px 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    overflow: hidden;
  }

  li {
      display: block;
      float: left;
      text-align: center;
      padding: 14px 15px;
    
  }

  li a {
    color: grey;
    text-decoration: none;
  }

  #but2 {
      border-left: solid 1px grey;
      border-right: solid 1px grey;
  }

#name {
    background-color: #4aaaa5;
    float:left;
    line-height: 2;
    padding: 0;
    margin:0;
}

#links{
    float: right;
}

#port {
    width:960px;
    height: 700px;
    color:#777777;
    margin-left: 25%;
    margin-top: 30px;
    border-color: #dddddd;
    background-color:#ffffff;
    font-family: 'Arial';
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
    padding-right:30px;
}


h2 {
    color:#4aaaa5;
    border-bottom: 1px solid grey;
}

.row {
    height: 250px;
}

.finder {
    position: absolute;
    background: #4aaaa5;
    color:white;
    height:50px;
    width: 420px;
    text-align: center;
    transform:translateY(-50%);
    margin-bottom: 35px;
}

.brown {
    position: absolute;
    background: #4aaaa5;
    color:white;
    height:20px;
    width: 420px;
    text-align: center;
    transform:translateY(-50%);
    padding-bottom: 40px;
}

.box {
    position: absolute;
    background: #4aaaa5;
    color:white;
    height:20px;
    width: 420px;
    text-align: center;
    transform:translateY(-50%);
    padding-bottom: 40px;
}

.twilight {
    position: absolute;
    background: #4aaaa5;
    color:white;
    height:20px;
    width: 250px;
    text-align: center;
    transform:translateY(-50%);
    padding-bottom: 40px;
}

#icon {
    height: 250px;
}

footer {
    position: absolute;
    bottom: 30px;
    width: 980px;
    left: 25%;
    background-color: #666666;
    color: white;
    text-align: center;
    font-family: 'Georgia';
    border-top: 8px solid #4aaaa5;
    padding-top: 40px;
    font-size: x-small;
  }